$color-blue: (
   'primary': #4599bf,
);

$color-white: (
   'primary': #fff,
   'background': rgb(243, 246, 249),
   'border': rgb(229, 234, 242),
   'placeholder': #fac9c9,
);

$color-black: (
   'primary': #000000,
   'modalDropShadow': rgba(0, 0, 0, 0.5),
);
